[alias]
	amend = commit --amend
	autosquash = rebase -i --autosquash
	cat = cat-file -p
	ff = merge --ff-only
	fixup = commit --fixup
	force = push --force-with-lease
	graph = log --all --graph --oneline
	l = log --oneline
	ls = ls-files
	b = branch --sort=committerdate
	s = status
	shortdiff = diff -w -U0 --color-words='\\w+|.' --color=always
	staged = diff --staged
	tagdate = !git tag $(date -u +%Y%m%d.%H%M%S)
	uncommit = reset HEAD^ --
	unstage = reset HEAD --
[core]
	pager = less -FX
[diff]
	wordregex = "[a-zA-Z0-9]+|."
[init]
	defaultBranch = devel
[merge]
	conflictstyle = diff3
[pull]
	ff = only
[push]
	default = simple
[user]
	email = lars.jellema@gmail.com
	name = Lars Jellema
